* {
    padding: 0;
    margin: 0;
}

/*This is the style of the all-container for background images...*/
.all-container {
    background-image: url('punk\ town.gif');
    position: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}


/*THIS IS THE NAVIGATION BAR DESIGN...*/
.navigation-bar {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: rgba(10, 54, 77, 0.7);
    box-shadow: 0 30px 40px rgba(30, 178, 247, 0.5);
    z-index: 4;
}

/*This is the icon of the navigation bar...*/
.icons { /*The icon and title page container.*/
    display: flex;
    width: 300px;
    height: 70px;
    flex-direction: row-reverse;
    justify-content: end;
    align-self: stretch;
}

.icons .main-icon { /*The main icon button container of the ICON CONTAINER.*/
    display: flexbox;
    width: 60px;
    height: 40px;
    padding: 15px 7px 15px 2px;
}

.icons .title-page { /*This is the style of the container of the texts for title-page...*/
    display: flexbox;
    width: 230px;
    height: 60px;
    padding: 5px 0 5px 0;
    border-left: 1px solid black;
}

/*This is the container of the navigation bar design where the options of the emojis are listed...*/
.opt-list {
    position: relative;
    display: flexbox;
    flex-direction: row;
    width: 760px;
    height: 70px;
    list-style-type: none;
}

.opt-list .opt { /*Container of the links to be designed.*/
    margin: 0 10px 0 10px;
    position: relative;
    float: left;
    width: 170px;
    height: 70px;
}

.opt-list .opt a {
    display: block;
    position: relative;
    font-size: 21px;
    text-align: center;
    width: auto;
    height: auto;
    padding: 22px 15px;
    text-decoration: none;
    color: cyan;
}

.opt-list .opt a:hover { /*This is the hover effect ot the links (The showing of the text shadow effect and dropdown.)*/
    text-shadow: 5px 5px 10px magenta;
    display: block;
}

.opt-list .opt .dropdown {
    width: 200px;
    background-color: rgba(10, 54, 77, 0.7);
    box-shadow: 0 30px 40px rgba(30, 178, 247, 0.5);
    position: absolute;
    display: none;
    list-style-type: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.opt-list .opt .dropdown .dropdown-list {
    width: 100%;
    height: 50px;
    display: block;
}

.opt-list .opt .dropdown a {
    display: block;
    position: absolute;
    font-size: 17px;
    width: auto;
    height: auto;
    padding: 15px 50px;
}

.opt-list .opt:hover .dropdown {
    display: block;
}



/*THIS IS THE DESIGN OF THE LEFT BAR.*/
.left-bar {
    display: flex;
    width: 257px;
    list-style-type: none;
}

.left-bar .other {
    position: relative;
}

.left-bar .other:hover .leftbar-dropdown {
    display: block;
}

.leftbar-dropdown {
    width: 200px;
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: rgba(10, 54, 77, 0.7);
    box-shadow: 0 30px 40px rgba(30, 178, 247, 0.5);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.leftbar-dropdown-list {
    display: block;
    width: 100%;
}

.leftbar-dropdown-list a {
    display: block;
    padding: 15px 50px;
    font-size: 18px;
    color: cyan;
    text-decoration: none;
}

.leftbar-dropdown-list a:hover {
    text-shadow: 5px 5px 10px magenta;
}



/*This is the leftbar navigation.*/
.main-contents {
    display: flex;
    width: 700px;
    height: 180px;
    position: fixed;
    top:48%;
    left: 24%;
    z-index: 1;
}

.emoji-container {
    display: flex;
    width: 670px;
    height: 100px;
    position: fixed;
    top:57%;
    left: 25%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    z-index: 2;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.emoji-container:hover {
    box-shadow: 0 30px 40px rgba(30, 178, 247, 0.5);
}

.emoji-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0, 0, 1px rgb(0, 0, 0, 0.1);
}

.emoji-container::-webkit-scrollbar-thumb {
    background-color: transparent;
    width: 6px;
}

.emoji-container::-webkit-scrollbar {
    background-color: transparent;
}


.list-of-emojis {
    list-style-type: none;
}

.emoji {
    font-size: 50px;
    float: left;
}